/* EasySOA - Service Browser Demo Style Sheet */

/* Tags 
   ---- */
	
h3 {
	padding-top: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid grey;
	color: #555555;
	font: 11pt Arial;
}

div {
	float: left;
}

li {
	margin-left: 20px;
	margin-bottom: 10px;
}

/* Structure 
   --------- */

#main {
  /*position: fixed;*/
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#content {
  /*position: fixed;*/
  position: absolute;	
  width: 100%;
  top: 71px;
  bottom: 0;
  right: 0;
}

#menu {
	border: 1px solid gray;
	width: 20%;
	height: 100%;
	font-size: 10pt;
	margin-top: -1px;
}

#nothingProxied {
	display: none;
	width: 100%;
	padding: 5px;
	background-color: #FDD;
	font-size: 10pt;
	color: red;
	text-align: center;
}

/* Navigation bar 
   -------------- */

#navBar {
	width: 100%;
	padding: 5px;
	background-color: #DDDDEE;
	border: 1px solid gray;
	margin-bottom: 0px;
}
#navBar input[type=text] {
	width: 70%;
}
#navBar input[type=image] {
	vertical-align: middle;
}

#messages {
	width: 20%;
	height: 27px;
	margin-right: 10px;
	padding-right: 15px;
	border-right: 1px solid grey;
}

#message {
  position: absolute;
	width: 20%;
	z-index: 1;
	background-color: white;
	border: 1px solid grey;
	color: grey;
	padding: 3px;
}

#messageSuccess {
  position: absolute;
	width: 20%;
	z-index: 2;
	background-color: white;
	border: 1px solid darkgreen;
	color: darkgreen;
	padding: 3px;
}

#messageFailure {
  position: absolute;
	width: 20%;
	z-index: 3;
	background-color: white;
	border: 1px solid darkred;
	color: darkred;
	padding: 3px;
}

/* Page frame 
   ---------- */

#frameContainer {
	width: 77%;
	height: 100%;
	float: left;
	margin-left: 2%;
}

#frame {
	width: 100%;
	height: 100%;
	border: none;
	background-color: #EEFAFD; 
}


/* Left menus 
   ---------- */

#menuSubmitForm {
	width: 100%;
	border: 1px solid gray;
	padding: 10px;
	background-color: #DDDDDD;
	height: 280px;
	word-wrap: break-word;
}

#submitForm {
  width: 95%;
}


#submitForm input {
	margin-bottom: 10px;
}

#submitForm input[type=text] {
	width: 100%;
}

#submitSelectedWSDL {
	width: 100%;
	word-wrap: break-word;
	font-weight: bold;
}

#menuFoundList {
	width: 100%;
	border: 1px solid gray;
	padding: 10px;
	background-color: #EEEEEE;
	height: 60%;
	overflow: auto;
}

.inputLabel {
	width: 100%;
}

/* Text 
   ---- */

.note {
	font-size: 10pt;
	font-style: italic;	
}
