# Compilation files
*.class
target/
#reports/
distrib/
bin/

# Other unnecessary files
*.project
*.log
*.log.*
*.swp
*.tar.gz
*.orig
*~
.DS_Store
.tmp*~
.classpath
.settings/
nxsqldirectory/

easysoa-registry/easysoa-registry-frascati/src/test/resources/easysoa-proxy-core-httpdiscoveryproxy-*.jar

# Distribution files
easysoa-distribution/easysoa/
easysoa-distribution/deps/
