<!DOCTYPE html>
<html>

<head>
	<title>EasySOA Integration - Service dashboard</title>
	<meta charset="utf-8" />
	<link href="/easysoa/style.css" type="text/css" media="all" rel="stylesheet" />
    <link href="style.css" type="text/css" media="all" rel="stylesheet" />
	<script type="text/javascript" src="/easysoa/lib/jquery.js"></script>
    <script type="text/javascript" src="/easysoa/lib/underscore.js"></script>
    <script type="text/javascript" src="/easysoa/lib/backbone.js"></script>
	<script type="text/javascript" src="/easysoa/js/common.js"></script>
    <script type="text/javascript" src="js/Services.js"></script>
    <script type="text/javascript" src="js/App.js"></script>
</head>
	
<body>

<div id="headerIntegration">
	<div id="headerIntegrationContents">
	    <a href="/easysoa" id="logoLink"> </a>
    	<div id="headerUserBar"></div>
		<div id="headerBreadcrumbs"><a href="/easysoa/index.html">EasySOA</a> > <b>Dashboard</b></div>
		Service dashboard
    </div>
</div>

<div id="container" style="width: 100%">
    
    <table id="serviceentries">
    <tr>
        <th>Service name</th>
        <th></th>
        <th>Referenced service name</th>
        <th>Validation state</th>
        <th>Validation log</th>
    </tr>
    <tr id="placeholder">
        <td colspan="5"><img src="/easysoa/img/loading.gif" /></td>
    </tr>
    <tr id="error"></tr>
    </table>
    
    <input class="defineReferenceLink" type="button" value="Define link" />
    
</div>
  
<script type="text/template" id="serviceentry-template">
    <td class="serviceEntryLocalServiceName">
        <%= localService.get('name') %>
        <div style="display: none" class="id"><%= localService.cid %></div>
    </td>
    <td class="serviceEntryArrow">
        <img src="img/arrow.png" />
    </td>
    <td class="serviceEntryReferencedServiceName">
        <%= referencedService.get('name') %>
        <div style="display: none" class="id"><%= referencedService.cid %></div>
    </td>
    <td class="serviceEntryValidationIcon">
        <% if (localService.get('name') == undefined) { %>
            <img src="img/red.png" />
        <% } else if (referencedService.get('name') == undefined) { %>
            <img src="img/grey.png" />
        <% } else if (localService.get('isValidated') != 'true') { %>
            <img src="img/red.png" />
        <% } else { %>
            <img src="img/green.png" />
        <% } %>
    </td>
    <td class="serviceEntryValidationLog">
        <%= localService.get('validationLog') %>
    </td>
</script>
<script type="text/template" id="error-template">
    <td colspan="5"><b>ERROR:</b> <%= error %></td>
</script>

</body>

</html>
