<!DOCTYPE html>
<html>

<head>
	<title>EasySOA Integration - Service dashboard</title>
	<meta charset="utf-8" />
	<link href="/easysoa/style.css" type="text/css" media="all" rel="stylesheet" />
    <link href="style.css" type="text/css" media="all" rel="stylesheet" />
	<script type="text/javascript" src="/easysoa/lib/jquery.js"></script>
    <script type="text/javascript" src="/easysoa/lib/underscore.js"></script>
    <script type="text/javascript" src="/easysoa/lib/backbone.js"></script>
	<script type="text/javascript" src="/easysoa/js/common.js"></script>
    <script type="text/javascript" src="js/Services.js"></script>
    <script type="text/javascript" src="js/App.js"></script>
</head>
	
<body>

<div id="headerIntegration">
	<div id="headerIntegrationContents">
	    <a href="/easysoa" id="logoLink"> </a>
    	<div id="headerUserBar"></div>
		<div id="headerBreadcrumbs"><a href="/easysoa/index.html">EasySOA</a> > <b>Dashboard</b></div>
		Service dashboard
    </div>
</div>

<div id="container" style="width: 100%">
    
    <table id="serviceentries">
    <tr id="serviceentriesheader">
      <th>Service name</th>
      <th></th>
      <th>Referenced service name</th>
      <th>Validation state</th>
    </tr>
    <tr id="placeholder">
        <td colspan="5"><img src="/easysoa/img/loading.gif" /></td>
    </tr>
    <tr id="error"></tr>
    </table>
    
    <input class="defineReferenceLink" type="button" value="Define link" />
    
</div>

<!-- Templates -->

<script type="text/template" id="serviceentriescolumn-template">
   <th><%= name %></th>
</script>

<script type="text/template" id="serviceentryicon-template">
  <% if (value == undefined) { %>
    <img src="img/grey.png" />
  <% } else if (value != 'true' && value != true) { %>
    <img src="img/red.png" />
  <% } else { %>
    <img src="img/green.png" />
  <% } %>
</script>

<script type="text/template" id="serviceentry-template">

    <% var iconTemplate = _.template($('#serviceentryicon-template').html()); %>
    
    <td class="serviceEntryLocalServiceName">
      <%= localService.get('name') %>
      <div style="display: none" class="id"><%= localService.cid %></div>
    </td>
    <td class="serviceEntryArrow">
      <img src="img/arrow.png" />
    </td>
    <td class="serviceEntryReferencedServiceName">
      <%= referencedService.get('name') %>
      <div style="display: none" class="id"><%= referencedService.cid %></div>
    </td>
    <td class="serviceEntryValidationIcon">
        <%  if (localService.get('name') == undefined) { %>
          <%= iconTemplate({value: 'false'}) %>
        <%  } else if (referencedService.get('name') == undefined) { %>
          <%= iconTemplate({value: null}) %>
        <%  } else { %>
          <%= iconTemplate({value: localService.get('isValidated')}) %>
        <%  } %>
    </td>
    <% validationState = localService.get('validationState');
       for (validator in validationState) { %>
    <td class="serviceEntryValidationResult">
        <div title="<%= validationState[validator].validationLog %>">
            <%= iconTemplate({value: validationState[validator].isValidated}) %>
        </div>
    </td>
    <% } %>
</script>
  
<script type="text/template" id="error-template">
    <td colspan="5"><b>ERROR:</b> <%= error %></td>
</script>

</body>

</html>
