#headerIntegration {
  width: 100%;
  padding-top: 10px;
  font-size: 14pt;
  height: 60px;
  background: url('/easysoa/img/Integration50.png') white;
  background-repeat: no-repeat;
  background-position: 20px 10px;
  border-bottom: 2px solid #444;
}

#headerIntegrationContents {
  padding-left: 330px;
}

#placeholder {
	text-align: center;
}

#error {
	display: none;
	color: darkred;
    text-align: center;
}
#error td {
    background-color: #FFF5F5;
}

#serviceentries {
	width: 80%;
}

.serviceEntryLocalServiceName {
    font-size: 11pt;
    text-decoration: underline;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}

.serviceEntryArrow {
    text-align: center;
}

.serviceEntryReferencedServiceName {
    font-weight: bold;
    text-decoration: underline;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}

.serviceEntryValidationIcon {
    text-align: center;
}

.serviceEntryValidationResult {
    font-size: 10pt;
    font-family: monospace;
    text-align: center;
}

.selectedLocal {
    background-color: #FFA;
}
.selectedReference {
    background-color: #FFA;
}

input[type=button] {
	font-size: 13pt;
	padding: 5px;
	margin: 10px;
}
