input[type=button] {
    font-size: 13pt;
    padding: 5px;
    margin: 10px;
}

#headerIntegration {
  width: 100%;
  padding-top: 10px;
  font-size: 14pt;
  height: 60px;
  background: url('/easysoa/img/Integration50.png') white;
  background-repeat: no-repeat;
  background-position: 20px 10px;
  border-bottom: 2px solid #444;
}

#headerIntegrationContents {
  padding-left: 330px;
}

#placeholder {
	text-align: center;
}

#error {
	display: none;
	color: darkred;
    background-color: #FFF5F5;
    border: 1px solid darkred;
    padding: 10px;
    margin: 5px;
    width: 400px;
}

#serviceentries {
	width: 70%;
}

.serviceEntryLocalState {
	text-align: center;
}

.serviceEntryLocalServiceName {
    font-size: 11pt;
    text-decoration: underline;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
}

.serviceEntryArrow {
    text-align: center;
}

.serviceEntryReferencedServiceName {
    font-weight: bold;
    text-decoration: underline;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 30%;
}

.serviceEntryValidationIcon {
    text-align: center;
}

.serviceEntryValidationResult {
    font-size: 10pt;
    font-family: monospace;
    text-align: center;
    position: relative;
}

.serviceEntryValidationResult div {
    float: right;
    display: none;
}

.serviceEntryValidationResult .visible {
	display: block !important;
    position: absolute;
	border: 1px solid #AAA;
	border-radius: 10px;
	padding: 5px;
	margin-left: 100px;
	margin-top: -5px;
	background-color: #FFE;
	z-index: 1;
}

.selectedLocal {
    background-color: #FFA;
}

.selectedReference {
    background-color: #FFA;
}

.correlationResult {
	font-style: italic;
	text-decoration: none;
	color: darkgreen;
	font-size: 10pt;
	width: 300px;
}

#actionButtons {
	width: 70%;
}
#actionButtons td {
	background-color: #DDD;
}
#actionButtons div {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 30px;
    height: 40px;
}

.actionButton {
	display: none;
}