body 
  font-family Arial, sans-serif
  font-size 11pt
  background-color #EEF5FA
  margin 0

a
  text-decoration none
  font-weight bold
  color darkblue

a.fake
  font-weight normal
  text-decoration none
  cursor default
  
a.fake:hover
  text-decoration none
  
a:hover
  text-decoration underline

header
  background-color white
  padding 10px 5px 0 5px

#header1
  width 100%
  height 60px
 
#logo
  float left

#userbox
  float right
  margin-top 10px
  
#header2
  width 100%
  height 40px
  border-bottom 2px solid black

#notificationicon
  position relative
  top -40px
  left 70px
  background-color #FCB
  width 20px
  height 20px
  border 1px solid red
  border-radius 10px
  
.bigtab
  float left
  border 2px solid black
  width 80px
  margin-left 20px
  text-align center
  padding-top 10px
  height 28px

.open
  text-align left
  
.bigtabtext
  float left
  padding-left 5px
  text-align center
  width 60px
  
.bigtabtext img
  position relative
  top -20px
  
.bigtabtext a
  position relative
  top 10px
  width 60px
  text-align center
  font-size 10pt
  display block
  
.bigtabspacer
  float left
  height 30px
  width 30px
  
.bigtabsep
  border-left 1px solid black
  height 32px
  width 1px
  float left
  margin-left 5px
  margin-top -6px
  
.bigtabsep.small
  border-color #AAA
  margin-top 0
  height 20px
  
h1
  margin-bottom 0
  font-weight normal
  
h2
  margin-top 0
  font-size 12pt
  font-weight normal
  
#doccontents
  margin-left 230px
  padding 10px
  
#breadcrumbs
  border-bottom 1px solid grey
  font-size: 10pt
  
#lefttabs
  position absolute
  top 105px
  left 10px
  width 80px
  padding-top 15px
  margin-right 7px
  
.lefttab
  width 100px
  border 2px solid black
  padding 5px
  margin-bottom 10px
  background-color white
  
.lefttabspacer
  width 80px
  height 20px
  font-size 10pt
  color grey

#contents
  position relative
  right 0
  border 2px solid black
  margin 5px
  min-height 500px
  padding 10px
  margin-left 122px
  background-color white
  
#navtree
  position relative
  min-height 500px
  border 2px solid black
  width 220px
  float left
  background-color white
  top 10px
  
#navtreetitle
  border-bottom 2px solid black
  padding 5px
  text-align center

#navtreecontents
  padding 5px

.contentbox
  border 1px solid black
  padding 10px
  margin 5px
  margin-top 10px
  background-color white
  
.contentbox .title
  border 1px solid black
  margin -11px
  margin-bottom 5px
  padding 5px
  background-color #EEE
  color #555
  font-size 12pt
  font-weight bold
  font-style italic

.contentbox ul
  width 100%
  margin-top -5px
  padding-left 10px
  margin-bottom 0

.contentbox li
  width 100%
  list-style-type none
  
.third
  width 30%
  float left
  
.half
  width 47%
  float left
  
.quarter
  width 24%
  float left

.threequarters
  width 74%
  float left
  
.all
  width 100%
  float left
  margin-bottom 10px
  
.centered
  float left
  text-align center
  
.box
  border 2px solid black
  padding 5px

.bordered
  border 1px solid #999
  padding 5px

td, th
  border 1px solid #CCC
  padding 3px
  
