/* cjw_newsletter.css */
.newsletter table.list td {
	padding: 0.5em;
}

.icon32 {
	width: 32px;
	height: 32px;
}

.icon16 {
	width: 16px;
	height: 16px;
}

.icon12 {
	width: 12px;
	height: 12px;
}

.icon_s_pending {
	background: left top;
}

.icon_s_confirmed {
	background: -32px top;
}

.icon_s_approved {
	background: -64px top;
}

.icon_s_removed,.icon_s_removed_self {
	background: -96px top;
}

.icon_s_removed_by_admin {
	background: -128px top;
}

.icon_s_bounced,.icon_s_bounced_hard,.icon_s_bounced_soft {
	background: -160px top;
}

.icon_s_blacklisted {
	background: -192px top;
}

.icon32 {
	background-image:
		url(../images/newsletter/icons/subscription_status_icons_32x32.png);
	background-repeat: no-repeat;
}

.icon16 {
	background-image:
		url(../images/newsletter/icons/subscription_status_icons_16x16.png);
	background-repeat: no-repeat;
}

.icon12 {
	background-image:
		url(../images/newsletter/icons/subscription_status_icons_12x12.png);
	background-repeat: no-repeat;
}