@charset "utf-8";

/* Slideshow*/

#slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
#wrapper {width:606px; margin:10px auto; display:none}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:600px; height:450px; padding:2px; border:1px solid #ededed; background:#ededed}
#image {width:500px}
#image img {position:absolute; z-index:25; width:auto}
.imgnav {position:absolute; width:25%; height:400px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url(images/left.gif) left center no-repeat}
#imgnext {right:0; background:url(images/right.gif) right center no-repeat}
#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(images/link.gif) center center no-repeat}
#thumbnails {margin-top:15px}
#slideleft {float:left; width:20px; height:106px; background:url(images/scroll-left.gif) center center no-repeat; background-color:#fff}
#slideleft:hover {background-color:#c0c0c0}
#slideright {float:right; width:20px; height:106px; background:#fff url(images/scroll-right.gif) center center no-repeat}
#slideright:hover {background-color:#c0c0c0}
#slidearea {float:left; position:relative; width:555px; margin-left:5px; height:106px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #ededed; padding:2px}

#information {position:absolute; bottom:0; width:600px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.8; filter:alpha(opacity=80)}
#information h3 {padding:4px 8px 3px; font-size:14px}
#information p {padding:0 8px 8px}
#information p a {padding:0 0 3px 8px; color: #f00; font-weight: bold;}