@charset "utf-8";

#main_menu ul li a:hover {
    color: #7ab41e;
}

input.button {
	color:#FFFFFF;
	background-color:#067caf;
	border:1px solid #009ee0;
}


/************** BLOC DU MILIEU: IMAGE BLEUE CENTREE  ******************************/
.main #random_image_container {
    background-image: url(../images-openwide/trame_flash.jpg);
}

/************** BLOC SQUARE  ******************************/
.main #container #col4 .dVertical {
    background-image: url(../images-openwide/gradient_square.gif);
}

.main #container #col4 .dHorizontal {
    background-color: #007caf;
    background-image: url(../images-openwide/gradient_list.gif);
}

/************** BLOC GRIS COINS ARRONDIS  ******************************/
.main #container #col4 .rounded, .main #container #col4 .rounded_middle {
	/*background-image:url(../images/rounded_middle.gif);*/
	border: 2px solid #80BFD7;
    color: #007caf;
}

.main #container #col4 .rounded a, .main #container #col4 .rounded_middle a {
    background-image: url(../images-openwide/arrow_on.gif);
    color: #007caf;
}

/************* ARTICLE ET OFFRE****************/
.main #container #middle_container #article h2, .offre h2, .offre h3, .offre .description {
    color: #067caf;
}

.main #container #middle_container #article h5 {
    color: #1785b4;
}

.main #container #middle_container #article h6 {
    color: #009ee0;
}

.main #container #middle_container #article a {
    color: #009ee0;
}

/********** GUEST (INTERNE) ******************/
.main #container #middle_container #guest h3 {
    color: #067caf;
}

.main #container #middle_container #guest h4 {
    color: #067caf;
}

.main #container #middle_container #guest h5 {
    color: #009ee0;
}

.main #container #middle_container #guest h6 {
    color: #009ee0;
}

.main #container #middle_container #guest .illustration {
    border-right-color: #067caf;
}

/****************** OFFRES D'EMPLOI *****************/
#offre_emploi a.ref { color: #067caf; }
#offre_emploi ul.level1 li { list-style-image: url(../images/arrow_on.gif); }
#offre_emploi ul.level1 ul li { list-style-image: url(../images/bullet_offres.gif); }

/*************** Article **********************/
#article h2, #article h6 { color: #c60f1b; }
#article li, #event li { list-style-image: url(../images/arrow_on.gif); }

/********* Sitemap *****************************/
.content-view-sitemap a {
    color: #067CAF;
}

.content-view-sitemap li {
    list-style-image: url(../images-openwide/arrow_on.gif);
}

.titreSiteMap {
    color: #067CAF;
}

/***************** Recherche ****************/
.feedback h2 {
    color: #067CAF;
}

table.searchresult div.typeResult {
    color: #067CAF;
}

table.searchresult h4 a {
    color: #067CAF;
}

table.searchresult h4 a:hover {
    background-image: url('../images-openwide/bullet_inter.gif');
    color: #067CAF;
}

/***************** FAQ ****************/
#faq h4 { color:#009ee0; }
#faq .faq_content .question, #faq .faq_content h4, #faq a:hover { color:#067CAF; }

/*******************      404 PAGE NOT FOUND      *****************/
#page_not_found { border-color:#067CAF; }
#page_not_found h2 { background-color:#009ee0; }
#page_not_found a { color:#067CAF; }