#contents(style='height: 600px')

  #breadcrumbs
      a.fake(href='#') Environment Master > CRM Application > CRUD Services > Client Service
      
  include navtree
  
  #doccontents
    h1 Endpoint 
      b Client Service 
      echo : Clients
    h2
      echo Definition : 
      a.fake(href='#') Client Service def 
      echo | Implementation : 
      a.fake(href='#') Client service JAX-RS
      
    .contentbox
      .title Real endpoint
      img(src='img/world.png') 
      echo  &nbsp;<b>http://api.mycompany.com/crm/client </b> | 
      img(src='img/warning.png')
      i &nbsp;Direct access 
      input(type='button', value='Unauthorized', disabled='disabled')  
      
    .contentbox(style='float: right; width: 47%')
      .title Create new client
      
      form.all
        fieldset(style='float: left; width 30%')
          legend Target environment
          select
            option Master
            option Staging
            option Bob's
        fieldset(style='float: left; width 30%')
          legend Protocol
          select
            option REST
            option SOAP
            option Content Automation
        fieldset(style='float: left; width 30%')
          legend Connector
          select
            option (Any)
            option None (web client)
            option Java
            option JavaScript
      
      fieldset
        legend
          b Search results
        ul
          li 
            img(src='img/world.png') 
            echo &nbsp;<b>REST endpoint</b> |
            img(src='img/secured.gif')
            i Proxied 
            input(type='button', value='Create') 
            input(type='button', value='Create and deploy')
          li 
            img(src='img/application.png') 
            echo  &nbsp;REST endpoint / <b>Javascript connector</b> |
            img(src='img/secured.gif')
            i Proxied 
            input(type='button', value='Create') 
          
          
    .contentbox(style='float: left; width: 47%')
      .title Recommended clients
          
      ul(style='margin-top: 10px')
        li 
          img(src='img/world.png') 
          echo  &nbsp;<b>Content Automation</b> |
          img(src='img/secured.gif')
          i Proxied 
          input(type='button', value='Use with scaffolder') 
          input(type='button', value='Use with C.A. playground') 
        li 
          img(src='img/application.png') 
          echo  &nbsp;Content Automation / <b>Studio scripting</b> |
          img(src='img/secured.gif')
          i Proxied 
          input(type='button', value='Go to Studio') 
          
    .contentbox(style='float: left; width: 47%')
      .title Other clients
      
      ul(style='margin-top: 10px')
        li 
          img(src='img/world.png') 
          echo  &nbsp;<b>SOAP endpoint</b> |
          img(src='img/secured.gif')
          i Proxied 
          input(type='button', value='Use with UI scaffolder') 
        li 
          img(src='img/application.png') 
          echo  &nbsp;SOAP endpoint / <b>Java connector</b> |
          img(src='img/secured.gif')
          i Proxied 
          input(type='button', value='Download') 
            
include lefttabs_serv
