script(type='text/javascript')
  $(document).ready(function() {
    var $tab = $('#tab-discovery');
    $('.tab-discovery-link').click(function() {
      $('#tab-discovery-contents').toggle();
      var $arrow = $('#tab-discovery-arrow');
      $arrow.toggle();
      if ($arrow.is(':visible')) {
        $tab.css({width: '110px'});
      } else {
        $tab.css({width: '400px'});
      }
    });
  });
    
#header1
 #userbox 
   echo Logged as <b>Bob</b> | Part of <b>CRM Team, R&D team</b> | View as 
   select
     option Architect
     option Business user
     option(selected) Developer
     option IT Staff
 a(href='./')
   img#logo(src='img/easysoa.png')
 
#header2
  .bigtab(style='float: right; width: 120px') Administration
    img(src='img/arrowr.png')
    
  .bigtab(style='width: 100px') 
    a.fake(href='#') Notifications
    #notificationicon 2
  .bigtabspacer 
  
  .bigtab(style='width: 80px')
    a.fake(href='#') Reports
    
  .bigtab.open(style='width: 410px; margin-right: -30px')
    .bigtabtext(style='width: 70px') Registry
    .bigtabsep
    // (style="background-color: white; border: 2px solid #8888DD; height: 35px; margin-top: -15px; padding-top: 10px")
    .bigtabtext
      a(href='./reg_general') General view 
      img(src='img/world.png')
    .bigtabsep.small
    .bigtabtext
      a(href='./reg_provider') Provider view
      img(src='img/world.png')
    .bigtabsep.small
    .bigtabtext
      a(href='./reg_consumer', style="width: 100px") Consumer view
      img(src='img/user.png')
    img(src='img/arrowl.png')
  .bigtabspacer 
    
  #tab-discovery.bigtab(style='width: 110px; cursor: pointer')
    a.tab-discovery-link.bigtabtext(style='width: auto', href='#') Discovery
    img.tab-discovery-link#tab-discovery-arrow(src='img/arrowr.png', style='float: left')
    #tab-discovery-contents(style='display: none; float: left; width: auto')
      .bigtabsep
      .bigtabtext(style='width: 90px')
        a(href='./dbb', style='width: 90px') Web browsing
        img(src='img/arrow.png')
      .bigtabsep.small
      .bigtabtext(style='width: 90px')
        a.fake(href='#', style='width: 90px') File import
        img(src='img/import.png')
      .bigtabsep.small
      .bigtabtext(style='width: 90px')
        a.fake(href='#', style='width: 90px') SCM import
        img(src='img/sync.png')
    
  .bigtab
    a(href='./studio') Studio
