#contents
  include navtree
  
  #doccontents
    #breadcrumbs
      a(href='#', style='font-size: 10pt') CRM Application > CRUD Services > Client Service
    h1 Endpoint 
      b Client Service
    h2
      echo Definition : 
      a(href='#') Client Service def 
      echo | Implementation : 
      a(href='#') Client service JAX-RS
      
    .contentbox(style='width: 55%; float: left')
      .title Documentation
      h3 Endpoint URL
      p
        a(href='#') http://api.mycompany.com/crm/client
      h3 Description
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      h3 Related documents
      ul
        li(style='height: 20px')
          .half
            img(src='img/doc.png')
            a(href='#') Inferred service documentation 
          .quarter &nbsp;
          .quarter 
            i Endpoint-level
        li(style='height: 20px')
          .half
            img(src='img/doc.png')
            a(href='#') ClientServiceReqs.pdf
          .quarter Business requirements
          .quarter
            i Design-level
        li(style='height: 20px')
          .half
            img(src='img/doc.png')
            a(href='#') ClientServiceArchi.pdf
          .quarter Technical requirements
          .quarter
            i Implementation-level
        li(style='height: 20px')
          .half
            img(src='img/doc.png')
            a(href='#') notesToDeveloper.txt
          .quarter Documentation
          .quarter
            i Implementation-level
      h3 Related systems
      a(href='#') CRM Application > CRUD Services, 
      a(href='#') CRM SCA Component, 
      a(href='#') Production servers > CRM API server, 
      a(href='#') Client service v2 Project

    .contentbox(style='width: 35%; float: left; margin-left: 10px; font-size: 10pt')
      .title Service state
      
      .all
        .half.centered
          b
            a(href='#') Deployment
          br
          img(src='img/green.png')
          br
          input(type='button', value="Undeploy")
          input(type='button', value="Redeploy")
        .quarter.centered
          b
            a(href='#')  Validation
          br
          img(src='img/green.png')
          br
          input(type='button', value="Run")
        .quarter.centered
          b
           a(href='#') Lifecycle
          br
          br
          i(style='color: green') Approved
          br
          input(type='button', value="Change")
          
      h3 Latest changes
      ul
        li
          .quarter 15:20
          .quarter Bob
          .half Added notesToDeveloper.txt to doc.
        li
          .quarter 11:30
          .quarter EasySOA
          .half Inferred service documentation
        li
          .quarter 11:30
          .quarter EasySOA
          .half Inferred service documentation
        li
          .quarter 2 days ago
          .quarter EasySOA
          .half Validation passed 
        li
          .quarter 2 days ago
          .quarter EasySOA
          .half Scheduled validation failed (<a href="#">See report</a>)
       
    .contentbox(style='width: 55%; float: left')
      .title Collaboration
      .all
        div(style='width: 50px; float: left')
          img(src='img/administrator.png')
        .threequarters
          b Arnold said (yesterday, 13:52):
          br
          echo Could someone provide an example on how to use this service? The current documentation is a bit unclear.       

include lefttabs

