#contents(style='height: 650px; margin-left: 5px')

  p This website is a mock of the final EasySOA UI.
  p Feel free to browse it by following the bold, blue links (others are inactive).
  p &lt;&lt; 
    a(href='/easysoa') Back to the EasySOA welcome page
