doctype html
html
  head
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/jqtree.css')
    title EasySOA Wireframe
    script(type='text/javascript', src='/easysoa/lib/jquery.js')
    script(type='text/javascript', src='/easysoa/wireframe/scripts/tree.jquery.js')
  body
    header
      include header
        
    != body
