#lefttabs
  .lefttab(style='border-right-color: white; z-index: 1000') 
    a(href='./endpoint').works Summary
    
  .lefttabspacer
  
  .lefttab Documentation
  .lefttab Collaboration
  .lefttab 
    a(href='./clients').works Clients
    
  .lefttabspacer
    
  .lefttab Validation
  .lefttab Proxies
  .lefttab Deployment
  .lefttab Notifications
  .lefttab Data export
