#lefttabs
  #lefttab(style='height: 40px; background-color: #EEE') Master home
  #lefttab(style='border-right-color: white; z-index: 1000') 
    a(href='./').works View
  #lefttab 
    a(href='./clients').works Clients
  #lefttab Validation
  #lefttab Proxies
  #lefttab Deployment
  #lefttab Data export
  #lefttab Notifications
