#navtree

  script(type='text/javascript')
    $(document).ready(function() {
      $('#navtreetitle').click(function() {
        $('#navhierarchy').toggle(300);
        $('#navoptions').toggle(300);
        $('img#closed').toggle();
        $('img#open').toggle();
        $('#navtree').toggleClass('navoptionsmode', 300);
      });
    });
  
  #navtreetitle(style='background-color: white')
    a#browsing(href='#') By application layer
    img#closed(src='img/arrowr.png')
    img#open(src='img/arrowd.png', style='display: none')
  
  
  script(type='text/javascript')
    $(document).ready(function() {
       var data = [
        { label: 'CRM Application',
          children: [
            { label: 'Top-level services'},
            { label: 'Functional services'},
            { label: 'CRUD services',
              id: 2,
              url: './reg_general_folder',
              children: [
                { label: 'Client service', id: 1 },
                { label: 'Activities service' },
                { label: 'SalesOrders service' }
              ] }
          ] } ];
       if (window.location.pathname.indexOf('provider') == -1) {
         data.push({ label: 'HR Application',
          children: [
            { label: 'Top-level services'},
            { label: 'Functional services'},
            { label: 'CRUD services' }
          ] });
       }
       var $tree = $("#navhierarchy");
       
       $tree.tree({
         data: data,
         autoOpen: true,
         selectable: true
       });
       var _selectedId = (window.selectedId !== undefined) ? window.selectedId : 1;
       var node = $tree.tree('getNodeById', _selectedId);
       if (node != null) {
        $tree.tree('selectNode', node, true);
       }
       
       $tree.bind(
          'tree.click',
          function(event) {
              window.location = event.node.url || window.location;
          }
       );
       
    });
  #navhierarchy.navtreecontents
  
  
  
  script(type='text/javascript')
    $(document).ready(function() {
      $('#navoptions a').click(function() {
        $('#navtreetitle').trigger('click');
      });
    });
  
  #navoptions.navtreecontents(style='display: none')
    p Choose a browsing view...
    
    h3 <u>Provider</u> views
    
    ul
      li
        a.fake(href='#') Flattened services
      li
        a.fake(href='#') By validation state
    
    
    h3 Custom hierarchies
    
    ul
      li
        a.fake(href='#') By application layer
      li
        a.fake(href='#') By project
      li
        a.fake(href='#') By business domain
      li
        input(type='button', value='Create...', style='font-size: 9pt')
      
