#navtree

  script(type='text/javascript')
    $(document).ready(function() {
      $('#navtreetitle').click(function() {
        $('#navhierarchy').toggle(300);
        $('#navoptions').toggle(300);
        $('img#closed').toggle();
        $('img#open').toggle();
        $('#navtree').toggleClass('navoptionsmode', 300);
      });
    });
  
  #navtreetitle(style='background-color: white')
    a#browsing(href='#') App. layers browsing
    img#closed(src='img/arrowr.png')
    img#open(src='img/arrowd.png', style='display: none')
  
  
  script(type='text/javascript')
    $(document).ready(function() {
       var data = [
        { label: 'CRM Application',
          children: [
            { label: 'Top-level services'},
            { label: 'Functional services'},
            { label: 'CRUD services',
              children: [
                { label: 'Client service', id: 1 },
                { label: 'Activities service' },
                { label: 'SalesOrders service' }
              ] }
          ] },
        { label: 'HR Application',
          children: [
            { label: 'Top-level services'},
            { label: 'Functional services'},
            { label: 'CRUD services' }
          ] }
       ];
       var $tree = $("#navhierarchy");
       
       $tree.tree({
         data: data,
         autoOpen: true,
         selectable: true
       });
       var _selectedId = (window.selectedId !== undefined) ? window.selectedId : 1;
       var node = $tree.tree('getNodeById', _selectedId);
       if (node != null) {
        $tree.tree('selectNode', node, true);
       }
       
       $("#navhierarchy .title").click(function() {
        window.location = './endp_summary';
       });
       
    });
  #navhierarchy.navtreecontents
  
  
  
  script(type='text/javascript')
    $(document).ready(function() {
      $('#navoptions a').click(function() {
        $('#navtreetitle').trigger('click');
      });
    });
  
  #navoptions.navtreecontents(style='display: none')
    p Choose a browsing view...
    
    h3 Default views
    
    ul
      li
        a.fake(href='#') By Service
      li
        a.fake(href='#') By Implementation
      li
        a.fake(href='#') By Endpoint
    
    
    h3 Custom hierarchies
    
    ul
      li
        a.fake(href='#') Application layers
      li
        a.fake(href='#') Servers
      li
        a.fake(href='#') Projects
      li
        a.fake(href='#') Business domains
      li
        input(type='button', value='Create...', style='font-size: 9pt')
      
