#navtree

  #navtreetitle(style='background-color: white')
    a.fake(href='#') Browsing by app. layers
    img(src='img/arrowr.png')
  
  script(type='text/javascript')
    $(document).ready(function() {
       var data = [
        { label: 'CRM Application',
          children: [
            { label: 'Top-level services'},
            { label: 'Functional services'},
            { label: 'CRUD services',
              children: [
                { label: 'Client service', id: 1 },
                { label: 'Activities service' },
                { label: 'SalesOrders service' }
              ] }
          ] },
        { label: 'HR Application',
          children: [
            { label: 'Top-level services'},
            { label: 'Functional services'},
            { label: 'CRUD services' }
          ] }
       ];
       var $tree = $("#navtreecontents");
       
       $tree.tree({
         data: data,
         autoOpen: true,
         selectable: true
       });
       var _selectedId = (window.selectedId !== undefined) ? window.selectedId : 1;
       var node = $tree.tree('getNodeById', _selectedId);
       if (node != null) {
        $tree.tree('selectNode', node, true);
       }
       
       $("#navtreecontents .title").click(function() {
        window.location = './endpoint';
       });
       
    });
  #navtreecontents
    li test
