#navtree
  
  #navhierarchy.navtreecontents
  
    h3 
      a(href='./reports') General report
      
    h3 Detailed reports
    ul
      li Report
      li Report
      li Report
      li Report
      li Report
      li Report
      li Report
      li Report
