#navtree

  #navhierarchy.navtreecontents

    h3 <u>Provider</u> views
    
    ul
      li
        a.fake(href='#') Flattened services
      li
        a.fake(href='#') By validation state
    
    
    h3 Custom hierarchies
    
    ul
      li
        a.fake(href='#') By application layer
      li
        a.fake(href='#') By project
      li
        a.fake(href='#') By business domain
      li
        input(type='button', value='Create...', style='font-size: 9pt')
      
