#headerLight {
  width: 100%;
  padding-top: 10px;
  font-size: 14pt;
  height: 60px;
  background: url('/easysoa/img/Light50.png') white;
  background-repeat: no-repeat;
  background-position: 20px 10px;
  border-bottom: 2px solid #444;
}

#headerLightContents {
  padding-left: 280px;
}

