.themeCellFrame {
	background-color: #BBB;
}

div+table .themeCellFrame {
	background: url('/nuxeo/img/easysoa/HeaderBG.png') !important;
	border-bottom: 1px solid #BBB;
}

.mainTabs .selected {
	border-color: #BBB;
	border-style: solid;
	border-width: 1px 1px 0;
}

.themeSectionFrame {
	border-bottom: 0 !important;
}

.siteLogo img {
	width: 211px;
	height: 50px;
}

.userClipboard .tabsBar {
	background-color: #BBB;
	margin-top: 0 !important;
}

.userServicesBlock {
     margin-top: 12px;
}

.userActions {
	color: #002233 !important;
}

.userActions a {
	color: #002233 !important;
}

.searchService {
	padding-top: 10px !important;
}

.searchService a {
	color: #002233 !important;
}

.studioButton {
	display: none;
}

.bannerBottom {
	display: none;
}

.foldableLightBox { /* Document filter */
    display: none;
}

.syndicationButton {
	display: none;
}

.breadcrumbs {
    font-size: 11pt !important;
}