<!DOCTYPE html>
<html>

<head>
	<title>EasySOA Integration - Service dashboard</title>
	<meta charset="utf-8" />
	<link href="/easysoa/style.css" type="text/css" media="all" rel="stylesheet" />
    <link href="style.css" type="text/css" media="all" rel="stylesheet" />
	<script type="text/javascript" src="/easysoa/lib/jquery.js"></script>
    <script type="text/javascript" src="/easysoa/lib/underscore.js"></script>
    <script type="text/javascript" src="/easysoa/lib/backbone.js"></script>
	<script type="text/javascript" src="/easysoa/js/common.js"></script>
    <script type="text/javascript" src="js/Services.js"></script>
    <script type="text/javascript" src="js/Deployables.js"></script>
    <script type="text/javascript" src="js/App.js"></script>
</head>
	
<body>

<div id="headerIntegration">
	<div id="headerIntegrationContents">
	    <a href="/easysoa" id="logoLink"> </a>
    	<div id="headerUserBar"></div>
		<div id="headerBreadcrumbs"><a href="/easysoa/index.html">EasySOA</a> > <b>Dashboard</b></div>
		Service dashboard
    </div>
</div>

<div id="container" style="width: 100%">
    
    <table id="serviceentries">
      <tr id="serviceentriesheader">
        <th>State</th>
        <th>Service name</th>
        <th></th>
        <th>Referenced service name</th>
        <th>Validation state</th>
      </tr>
      <tr id="placeholder">
          <td colspan="4"><img src="/easysoa/img/loading.gif" /></td>
      </tr>
    </table>
    
    <table id="actionButtons"><tr><td>
        <div>Available actions:</div>
        <input class="actionButton" id="defineReferenceLink" type="button" value="Define reference" />
        <input class="actionButton" id="breakReferenceLink" type="button" value="Break reference link" />
        <input class="actionButton" id="approveService" type="button" value="Approve service" />
        <input class="actionButton" id="maskService" type="button" value="Mask service" />
        <input class="actionButton" id="removeService" type="button" value="Remove service" />
        <input class="actionButton" id="resetService" type="button" value="Reset service" />
    </td></tr></table>
    
    <div class="legend">
        State legend: <img src="img/project.png" /> = Discovered, <img src="img/approved.png" /> = Approved, <img src="img/null.png" /> = Missing
    </div>
    
    <div id="errorHolder"></div>
    
    <table id="deployables">
      <tr id="deployablesHeader">
        <th colspan="2">Deployables</th>
      </tr>
      <tr id="deployablesEnvironmentsNames">
        <th>My environment</th>
        <th>Reference environment</th>
      </tr>
      <tr id="deployablesContents"></tr>
    </table>
    
</div>

<!-- Templates -->

<script type="text/template" id="serviceentriescolumn-template">
   <th width="150px"><%= get('name') %></th>
</script>

<script type="text/template" id="serviceentryicon-template">
  <% 
  var img;
  var size = '32px';
  if (value == undefined) {
    img = 'grey';
  }
  else if (value != 'true' && value != true) {
    img = 'red';
  }
  else {
    img = 'green';
  }
  if (small) {
    size = '16px';
  }
  %>
  <img src="img/<%= img %>.png" width="<%= size %>" />
</script>

<script type="text/template" id="serviceentry-template">

    <% var iconTemplate = _.template($('#serviceentryicon-template').html()); %>
    
    <td class="serviceEntryLocalState">
      <img src="img/<%= lifeCycleState || 'null' %>.png" />
    </td>
    <td class="serviceEntryLocalServiceName" id="<%= id %>" cid="<%= cid %>">
      <%= name %>
    </td>
    <td class="serviceEntryArrow">
      <img src="img/arrow.png" />
    </td>
    <% if (referencedService.cid != null) { %>
      <td class="serviceEntryReferencedServiceName" id="<%= referencedService.get('id') %>" cid="<%= referencedService.cid %>">
        <%= referencedService.get('name') %>
      </td>
    <% } else { %>
      <td></td>
    <%  } %>
    <td class="serviceEntryValidationIcon">
        <%  if (name == undefined) { %>
          <%= iconTemplate({value: 'false', small: false}) %>
        <%  } else if (name == undefined) { %>
          <%= iconTemplate({value: null, small: false}) %>
        <%  } else { %>
          <%= iconTemplate({value: isValidated, small: false}) %>
        <%  } %>
    </td>
    <% for (validator in validationState) { %>
    <td class="serviceEntryValidationResult">
       <div><%= validationState[validator].validationLog %></div>
       <%= iconTemplate({value: validationState[validator].isValidated, small: true}) %>
    </td>
    <% } %>
</script>

<script type="text/template" id="correlationresult-template">
    <div class="correlationResult">Possible match (correlation: <%= correlationRate %>%)</div>
</script>

<script type="text/template" id="envDeployablesTemplate">
  <td style="vertical-align: top">
  <% for (key in data) {
      var app = data[key]; %>
      <u>Application "<%= app.title %>"</u><br />
      <ul>
        <% for (key in app.deployables) {
            var deployable = app.deployables[key]; %>
          <li><%= deployable.deployableName %> <i>(<%= deployable.deployableVersion %>)</i>
        <% } %>
      </ul>
  <% } %>
  </td>
</script>

<script type="text/template" id="error-template">
    <div id="error"><b>ERROR:</b> <%= error %></div>
</script>

</body>

</html>
