/* EasySOA - Service Browser Demo Style Sheet */

/* Tags 
   ---- */

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 820px;
	padding: 10px;
	background-color: #EEF5FA;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
	margin: 10px;
	color: #005599;
	font: bold 20pt Arial;
}

h2 {
	margin-bottom: 10px;
	border-bottom: 1px solid grey;
	color: #333333;
	font: 13pt Arial;
}
	
h3 {
	padding-top: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid grey;
	color: #555555;
	font: 11pt Arial;
}

div {
	float: left;
}

li {
	margin-left: 20px;
	margin-bottom: 10px;
}

/* Structure 
   --------- */

#main {
	margin: auto;
	height: 100%;
	width: 90%;
}

#content {
	width: 100%;
	height: 85%;
}

#navigation {
	margin-left: 21px;
	width: 80%;
	height: 100%;
}

/* Navigation bar 
   -------------- */

#navBar {
	padding: 5px;
	background-color: #DDDDEE;
	border: 1px solid gray;
}
#navBar input[type=text] {
	width: 500px;
}
#navBar input[type=image] {
	vertical-align: middle;
}

/* Page frame 
   ---------- */

#frameContainer {
	width: 100%;
	height: 100%;
	border: 1px solid gray;
}

#frame {
	width: 100%;
	height: 100%;
	border: none;
	background-color: #EEFAFD; 
}


/* Left menus 
   ---------- */

#menu {
	width: 17%;
	height: 100%;
	float: left;
	font-size: 10pt;
}

#menuSubmitForm {
	width: 100%;
	border: 1px solid gray;
	padding: 10px;
	background-color: #DDDDDD;
	height: 300px;
}

#submitForm input {
	margin-bottom: 10px;
}

#submitForm input[type=text] {
	width: 100%;
}

#submitSelectedWSDL {
	width: 100%;
	word-wrap: break-word;
	font-weight: bold;
}

#submitSuccess {
	width: 100%;
	background-color: white;
	border: 1px solid darkgreen;
	color: darkgreen;
	padding: 3px;
}

#submitFailure {
	width: 100%;
	background-color: white;
	border: 1px solid darkred;
	color: darkred;
	padding: 3px;
}

#menuFoundList {
	width: 100%;
	border: 1px solid gray;
	padding: 10px;
	background-color: #EEEEEE;
	height: 422px;
	overflow: auto;
}

.inputLabel {
	width: 100%;
}

/* Text 
   ---- */

.note {
	font-size: 10pt;
	font-style: italic;	
}