<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>GlobalWeatherServlet</servlet-name>
		<display-name>Global Weather Servlet</display-name>
		<servlet-class>fr.inria.galaxy.demo.weather.GlobalWeatherServlet</servlet-class>
		
	</servlet>

	<servlet-mapping>
		<servlet-name>GlobalWeatherServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
</web-app>

