<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.easysoa.registry.query.eclipse.browser.TestViewPart"
            id="org.easysoa.registry.query.eclipse.browser.TestViewPart"
            name="TestViewPart"
            restorable="true">
      </view>
   </extension>

</plugin>
