#macro ( renderReq $path $argMap )
	TEST -- "renderRes" method called from velocity proxy, This is a template test ! path=$path  -- TEST
	 argMap size : $argMap.size()
  #foreach( $fieldValue in $argMap )
      yo $fieldValue !
  #end
#end

#macro ( renderRes $path $outHeadersAndContentInJavaModelOrJsonOr $outHeaders $outContent $othersExPerfs )
	TEST -- "renderReq" method called from velocity proxy, This is a template test ! -- outHeadersAndContentInJavaModelOrJsonEtc TEST
	default :
	$outHeadersAndContentInJavaModelOrJsonOr
	otherwise something like a parametrized version of :
	{"headers":null,"messageContent":{"content":"{\"user\":\"toto\",\"lastTweet\":\"This is the last tweet\"}","encoding":"","mimeType":"application/octet-stream","size":52},"status":200,"statusText":"OK"}
	TODO recompute size, LATER handle json or XML providing libs (will solve the inner quote escaping pb), remove null or empty fields in default storage and (EXCEPT interesting ones like headers) when building a template that has to be modifiable by a developer...
#end